.banner {
    margin: 100px auto;
    background-color: var(--main-dark-color); 
    width: 1245px;
    display: flex;
    justify-content: space-between;
    height: 312px;
    border-radius: 30px;
    overflow: hidden;
}