.topnft__card {
    position: relative;
    width: 282px;
    height: 402px;
    background-color: white;
    border-radius: 23px;
    box-shadow: 38.82px 11.76px 58.81px 0px #C7C7C799;
    display: flex;
    flex-direction: column;
    margin: 100px 20px 110px;
}