.topnft__btn-container {
    width: 166px;
    margin: 0 auto 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 18px;
    box-shadow: 0px 43.12px 34.49px -25.87px #0F0F0F1F;
}