.banner__title {
    margin: 44px 0 12px;
    color: #fff;
    font-family: Poppins;
    font-size: 45px;
    font-weight: 600;
    line-height: 58.5px;
    letter-spacing: 0.01em;
    text-align: left;
}